/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 5:06:21 PM
    Author     : Reggie
*/

div.photo_grid{
    position:relative;
    float:left;
    
    margin-top: 30px;
    margin-left: 30px;
    height: 200px;
    width: 200px;
    padding: 5px;
}

img.grid {
    background-color: white;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    width: 190px;
    height: 190px;
}

div.photo_grid img.HD_grid{
    
}

div.photo_grid div.description_grid{
    position:absolute;
    top:162px;
    left:11px;
    height:40px;
    width:190px;
    background-color:black;
    opacity:0.4;
}
div.photo_grid p.title_grid{
    position:absolute;
    top:151px;
    color: white;
    left:11px;
    width:190px;
    text-align: center;
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}
div.photo_grid p.year_grid{
    position:absolute;
    top:166px;
    color: white;
    left:11px;
    width:190px;
    text-align: center;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

div.photo:hover div.description{
    opacity:0.3;
}


div.photo:hover p.description{
    opacity: 1;
}