#view.list{

    height:auto;
    width:100%;
}
#view.list ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
#view.list li{
    height:260px;
    border-top: 1px dotted lightgray;

}
#view.list img{
    float:left;
    position: relative;
    bottom: -10px;
    height:220px;
    width:220px;
    padding:5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
 
}
#view.list .content{
    padding-left: 10px;
    width:auto;
    height:auto;
    overflow:hidden;
    

}
#view.list .content .words{
    float:left;
    margin-right:10px;
}
#view.list .content header{


}
#view.list .content header .title{
   
    font-weight: bold;
    font-size: 18px;
}
#view.list .content header .date{

    color: gray;
    font-size: 15px;
}
#view.list .actors{
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
#view.list .actors .words{
    font-weight: bold;
    font-size: 18px;
}
#view.list .rating{
    display: flex;

    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
#view.list .rating img{
    height:20px;
    width:20px;
    float:left;
}
#view.list .info{
    display: flex;
    background-color: rgb(236,255,255);
    line-height: 1.5;
    width: 450px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 7px;
    border-radius: 5px;

}